button {
  background-color: #4f6272;
  color: white;
  font-size: 2vmin;
  border: 0;
  padding: 1vmin;
  border-radius: 1vmin;
  border-bottom: 0.5vmin solid #404e5c;
}

button:active {
  border: 0;
  margin-top: 0.5vmin;
}
